<div class="shadow-lg p-3 mb-5 bg-white rounded">
<h3>Lista de Preguntas</h3>
<div class="table-responsive-sm">
<table class="table table-dark table-striped">
<% for (var i in quizes) { %>
<% var quiz = quizes[i]; %>
<tr>
<td>
<a href = "quizes/<%= quiz.id %>"><%= quiz.pregunta %></a>
</td>
<% if (session.user) { %>
<td>
<!-- <a href = "quizes/<%= quiz.id %>"><buton button class="btn btn-light">Ver</buton></a> -->
</td>
<td>
<a href = "quizes/<%= quiz.id %>/edit"><buton button class="btn btn-warning">Editar</buton></a>
</td>
<td>
<form class="form" method="POST" action="/quizes/<%= quiz.id %>?_method=delete">
<button type ="submit" button class="btn btn-danger" onClick="return confirm('Borrar: <%= quiz.pregunta %>');">borrar</button></form>
</td>
<% } %>
</tr>
<% } %>
</table>
</div>
</div>